{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <title>Accordion</title>


{% endblock %}
{% block content %}
    <br><br><br><br><br><br><br>
    <dl class="accordion text-white">
        <div class="sectionss">
            <dt><a href="" class="font-size">About Me</a></dt>
            <button value="Up" class="upButton font-size">上</button>
            <button value="Down" class="downButton font-size">下</button>
            <dd class="font-size">
                Computer science student. Beginner artist. Likes Idolm@ster.
            </dd>
        </div>
        <div class="sectionss">
            <dt><a href="" class="font-size">Activity</a></dt>
            <button value="Up" class="upButton font-size">上</button>
            <button value="Down" class="downButton font-size">下</button>
            <dd>
                <ol class="font-size">
                    <li>Student</li>
                    <li>Teaching Assistant</li>
                </ol>
            </dd>
        </div>
        <div class="sectionss">
            <dt><a href="" class="font-size">Experience</a></dt>
            <button value="Up" class="upButton font-size">上</button>
            <button value="Down" class="downButton font-size">下</button>
            <dd>
                <ol class="font-size">
                    <li class="font-size">Competitive Programming</li>
                    <li class="font-size">Scientific Committee of CPC Compfest</li>
                </ol>
            </dd>
        </div>
        <div class="sectionss">
            <dt><a href="" class="font-size">Achievement</a></dt>
            <button value="Up" class="upButton font-size">上</button>
            <button value="Down" class="downButton font-size">下</button>
            <dd>
                <ol class="font-size">
                    <li>Silver Medal at Indonesia National Science Olympiad</li>
                </ol>
            </dd>
        </div>

    </dl>
    <script type="text/javascript" src="{% static 'accordion/script.js' %}"></script>
{% endblock %}
