{% extends 'base.html' %}
{% block meta %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Cari Buku</title>
{% endblock %}
{% block content %}

    <div class="row mt-5 pt-5">
        <table>
            <tr>
                <td>
                    <input type="text" id="searchBook" value="">
                </td>
                <td>
                    <button id="searchButton">Cari</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="container text-white" id="hasilCari">

        </div>
    </div>

    <script src="{% static 'buku/scripts/ajax.js' %}"></script>
{% endblock %}
