<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 id="logInButton" class="active"> Sign In </h2>
        <h2 id="signUpButton" class="inactive underlineHover">Sign Up </h2>
        <!-- Login Form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        {% for message in messages %}
            {{ message }}
        {% endfor %}

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'user/script/script.js' %}"></script>
</body>
</html>